@model testDB_1.Models.userInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>userInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telnum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telnum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
